.btn-primary {
  color: #ffffff;
  background-color: #df691a;
  border-color: #df691a; }
  .btn-primary:hover {
    background-color: #5cb85c;
    border-color: #5cb85c; }
  .btn-primary:focus {
    background-color: #5cb85c;
    border-color: #5cb85c; }
  .btn-primary:active {
    background-color: #5cb85c;
    border-color: #5cb85c; }

.btn-secondary {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #5cb85c; }
  .btn-secondary:hover {
    background-color: #5bc0de;
    border-color: #5bc0de; }
  .btn-secondary:focus {
    background-color: #5bc0de;
    border-color: #5bc0de; }
  .btn-secondary:active {
    background-color: #5bc0de;
    border-color: #5bc0de; }

.btn-link {
  color: #5bc0de; }
  .btn-link:hover {
    color: #5bc0de; }
  .btn-link:focus {
    color: #5bc0de; }
  .btn-link:active {
    color: #5bc0de; }

  .logout {
    color: $primary !important;
  }