/* ===============
BODY
=============== */
$bodyBackground: #2b3e50;

/* ===============
COLORS
=============== */
$primary:#df691a;
$secondary:#5cb85c;
$tertiary:#5bc0de;

$bodyFontColor: #ffffff;
$bodyFontInverse: #000000;


/* ===============
TYPE
=============== */