body {
  background-color: $bodyBackground;
  color: $bodyFontColor;
}
hr {
  border: $bodyBackground 1px solid;
}

// Panels for login boxes and such
.panel {
  margin-bottom: 20px;
  border: 1px solid $primary;
  border-radius: 0px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-default {
  .panel-heading {
    color: $bodyFontColor;
    background-color: $primary;
    border-color: $primary;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .panel-body {
    background-color: $bodyBackground;
    color: $bodyFontColor;
  }
}


