thead {
  background: #df691a;
  color: #ffffff; }

.High {
  background: red;
  text-align: center; }

.Medium {
  background: #df691a;
  text-align: center; }

.Low {
  background: #5cb85c;
  text-align: center; }